.card {
    border: 2px solid rgb(158, 158, 158);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.75);
    width: 150px;
    background-color: white;
}
.card-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.card-title {
    margin: 10px 0;
    color: #333;
}

.card-bio{
    color: #666;
}